.row.nested-fields
  .col.s10
    =f.input :name, label: false do
      %i.material-icons.left.prefix account_box
      =f.label :name
      =f.input_field :name, class: 'validate'
  .col.s2
    =link_to_remove_association f, class: 'btn-floating tooltipped', data: { tooltip: 'Delete these flowers' } do
      %i.material-icons.teal.accent-4 delete_forever

