#order-fab.fixed-action-btn.row.click-to-toggle.right
  %a.btn-floating.btn-large.red.waves-effect.waves-light
    %i.large.material-icons mode_edit
  %ul
    %li
      = link_to new_order_path, class: 'btn-floating blue-grey darken-2 tooltipped', :data => { :delay => '50', :position => 'left', :tooltip => 'Add new order' } do
        %i.material-icons add
    -if @order
      %li
        = link_to edit_order_path(@order), class: 'btn-floating blue-gray tooltipped', :data => { :delay => '50', :position => 'left', :tooltip => 'Edit current order' } do
          %i.material-icons edit