!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8"}/
    :css
      <!--
       /* Font Definitions */
      @font-face
      	{font-family:Arial;
      	panose-1:2 11 6 4 2 2 2 2 2 4;}
      @font-face
      	{font-family:"Cambria Math";
      	panose-1:0 0 0 0 0 0 0 0 0 0;}
      @font-face
      	{font-family:Calibri;
      	panose-1:2 15 5 2 2 2 4 3 2 4;}
       /* Style Definitions */
      p.MsoNormal, li.MsoNormal, div.MsoNormal
      	{margin-top:0cm;
      	margin-right:0cm;
      	margin-bottom:10.0pt;
      	margin-left:0cm;
      	line-height:115%;
      	font-size:11.0pt;
      	font-family:Calibri;}
      p.MsoHeader, li.MsoHeader, div.MsoHeader
      	{margin:0cm;
      	margin-bottom:.0001pt;
      	font-size:11.0pt;
      	font-family:Calibri;}
      p.MsoFooter, li.MsoFooter, div.MsoFooter
      	{margin:0cm;
      	margin-bottom:.0001pt;
      	font-size:11.0pt;
      	font-family:Calibri;}
      pre
      	{margin:0cm;
      	margin-bottom:.0001pt;
      	font-size:10.0pt;
      	font-family:Courier;}
      span.HTML
      	{font-family:Courier;}
      .MsoChpDefault
      	{font-family:Calibri;}
       /* Page Definitions */
      @page WordSection1
      	{size:595.3pt 841.9pt;
      	margin:70.85pt 14.1pt 2.0cm 35.45pt;}
      div.WordSection1
      	{page:WordSection1;}
      -->
  %body{:lang => "RU"}
    .WordSection1
      %p.MsoNormal
        %span{:style => "position:relative;z-index:-1895821312"}
          %span{:style => "position:absolute;left:-5px;top:-67px;width:524px;height:65px"}
            %img{:height => "65", :src => "service_list.fld/image001.png", :width => "524"}/
      %p.MsoNormal{:style => "text-autospace:none"}
        %b
          %u
            %span{:lang => "IT", :style => "font-size:8.0pt;line-height:115%;font-family:Arial;color:#C00000"}
              SERVICE
              LIST
        %b
          %span{:lang => "IT", :style => "font-size:8.0pt;line-height:115%;\nfont-family:Arial;color:#C00000"}
                  
            %u
              LA
              SERVICE LIST EÕ UN CHECK OBBLIGATORIO A CURA DI CHI PRELEVA LA CARTELLINA ÒFINE
              SERVIZIOÓ
      %p.MsoNormal{:style => "text-autospace:none"}
        %b
          %span{:lang => "IT", :style => "font-size:8.0pt;line-height:115%;font-family:Arial"} NOME DEFUNTO:
        %a{:name => "name"}
      %p.MsoNormal{:style => "text-autospace:none"}
        %b
          %span{:lang => "IT", :style => "font-size:8.0pt;line-height:115%;font-family:Arial"}
            ____  
            LOCULO                                           ____ 
            TERRA/CREMAZIONE
      %p.MsoNormal{:style => "text-autospace:none"}
        %b
          %span{:lang => "IT", :style => "font-size:8.0pt;line-height:115%;font-family:Arial"}
            FUNERALE IL:
            %a{:name => "funeralday"}
      %p.MsoNormal{:style => "text-autospace:none"}
        %b
          %span{:lang => "IT", :style => "font-size:8.0pt;line-height:115%;font-family:Arial"}
            ALLE ORE:
            %a{:name => "funeraltime"}
      %p.MsoNormal{:style => "text-autospace:none"}
        %b
          %span{:lang => "IT", :style => "font-size:8.0pt;line-height:115%;font-family:Arial"}
            ESPOSTO ALLE CELLE
            DI:  
            %a{:name => "cemeteryname"}
      %p.MsoNormal{:style => "text-autospace:none"}
        %b
          %span{:lang => "IT", :style => "font-size:8.0pt;line-height:115%;font-family:Arial"}
            SEPOLTURA A:
            %a{:name => "funeralplace"}
      %p.MsoNormal{:style => "text-autospace:none"}
        %b
          %span{:lang => "IT", :style => "font-size:8.0pt;line-height:115%;font-family:Arial"}
            TIPO DI SEPOLTURA:
            [     ] LOCULO  [     ]
            TERRA  [     ] CREMAZIONE
      %p.MsoNormal{:style => "text-autospace:none"}
        %b
          %span{:lang => "IT", :style => "font-size:8.0pt;line-height:115%;font-family:Arial"}
            TELEFONO DEL
            FAMILIARE:
            %a{:name => "relativephone"}
      %p.MsoNormal{:style => "text-autospace:none"}
        %b
          %u
            %span{:lang => "IT", :style => "font-size:8.0pt;line-height:115%;font-family:Arial;color:#C00000"}
              DATI
              DA COMPILARSI DALLÕOPERATORE
      %p.MsoNormal{:style => "text-autospace:none"}
        %b
          %span{:lang => "IT", :style => "font-size:8.0pt;line-height:115%;font-family:Arial"}
            SQUADRA               ________________________      
            ____________________________
      %p.MsoNormal{:style => "text-autospace:none"}
        %b
          %span{:lang => "IT", :style => "font-size:8.0pt;line-height:115%;font-family:Arial"}
                                                ________________________      
            ____________________________
      %p.MsoNormal{:style => "text-autospace:none"}
        %b
          %span{:lang => "IT", :style => "font-size:8.0pt;line-height:115%;font-family:Arial"}
            MEZZI                        ________________________      
            ____________________________
      %p.MsoNormal{:style => "text-autospace:none"}
        %b
          %span{:lang => "IT", :style => "font-size:8.0pt;line-height:115%;font-family:Arial"}
            CUSCINO                 _____DA
            RITIRARE                 _____GIAÕ
            IN CELLA               
      %p.MsoNormal{:style => "text-autospace:none"}
        %b
          %u
            %span{:lang => "IT", :style => "font-size:8.0pt;line-height:115%;font-family:\"Times New Roman\";\ncolor:#C00000"}
              %span{:style => "text-decoration:none"}  
      %p.MsoNormal{:style => "text-autospace:none"}
        %b
          %u
            %span{:lang => "IT", :style => "font-size:8.0pt;line-height:115%;font-family:Arial;color:#C00000"}
              STRUMENTAZIONE
              E DOCUMENTI DA CARICARE NEI MEZZI
      %p.MsoNormal{:style => "text-autospace:none"}
        %b
          %span{:lang => "IT", :style => "font-size:8.0pt;line-height:115%;font-family:Arial"}
            _____        CARRELLO
            E DRAPPO (SU NUOVE CHIESE CHIEDERE SEMPRE AL PRETE)
      %p.MsoNormal{:style => "text-autospace:none"}
        %b
          %span{:lang => "IT", :style => "font-size:8.0pt;line-height:115%;font-family:Arial"}
            _____        TAVOLINO
            E CASSETTA OFFERTE DOVE RICHIESTO
      %p.MsoNormal{:style => "text-autospace:none"}
        %b
          %span{:lang => "IT", :style => "font-size:8.0pt;line-height:115%;font-family:Arial"}
            _____    
            FERRI PER CHIUSURA (CONTROLLA DUE VOLTE)
      %p.MsoNormal{:style => "text-autospace:none"}
        %b
          %span{:lang => "IT", :style => "font-size:8.0pt;line-height:115%;font-family:Arial"}
            _____        PERMESSO
            DI SEPPELLIMENTO PER IL PRETE IN COPIA E ALTRI DOC
      %p.MsoNormal{:style => "text-autospace:none"}
        %b
          %u
            %span{:lang => "IT", :style => "font-size:8.0pt;line-height:115%;font-family:Arial;color:#C00000"}
              INFORMAZIONI
              DA CHIEDERE ALLA FAMIGLIA
      %p.MsoNormal{:style => "text-autospace:none"}
        %b
          %span{:lang => "IT", :style => "font-size:8.0pt;line-height:115%;font-family:Arial"}
            _____        TRAGITTO
            DA PERCORRERE (DESCRIVI__________________________________________________)
      %p.MsoNormal{:style => "text-autospace:none"}
        %b
          %span{:lang => "IT", :style => "font-size:8.0pt;line-height:115%;font-family:Arial"}
            _____        DESTINAZIONE
            DEI FIORI       
            (DESCRIVI__________________________________________________)
      %p.MsoNormal{:style => "text-autospace:none"}
        %b
          %u
            %span{:lang => "IT", :style => "font-size:8.0pt;line-height:115%;font-family:Arial;color:#C00000"}
              OPERAZIONI
              CIMITERIALI
      %p.MsoNormal{:style => "text-autospace:none"}
        %b
          %span{:lang => "IT", :style => "font-size:8.0pt;line-height:115%;font-family:Arial"}
            _____    
            RITIRO LASTRA MARMO        _____    
            FARE FOTO LASTRA ESISTENTE
      %p.MsoNormal{:style => "text-autospace:none"}
        %b
          %span{:lang => "IT", :style => "font-size:8.0pt;line-height:115%;font-family:Arial"}
            NOTE, IMPRESSIONI E
            PUNTI DI CRITICITAÕ, PARTICOLARI DA RICORDARSI:
      %p.MsoNormal{:style => "text-autospace:none"}
        %b
          %span{:lang => "IT", :style => "font-size:8.0pt;line-height:115%;font-family:\"Times New Roman\""}  
      %p.MsoNormal{:style => "text-autospace:none"}
        %b
          %span{:lang => "IT", :style => "font-size:8.0pt;line-height:115%;font-family:Arial"}
            FIRMA
            DELLÕOPERATORE_____________________________________   DATA
      %p.MsoNormal
        %span{:lang => "IT"}  
      %p.MsoNormal
        %span{:style => "position:absolute;z-index:-1895824384;\nmargin-left:-21px;margin-top:429px;width:581px;height:115px"}
          %img{:height => "115", :src => "service_list.fld/image002.png", :width => "581"}/
