/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap-material-datetimepicker
 *= require normalize-rails
 *= require_tree .
 *= require_self
 */
@import "materialize";

$sidebar-width: 250px;

#sidenav {
  width: $sidebar-width;
}

main, #topbar, .topnav {
  //margin-top: 60px;
  margin-left: $sidebar-width;
}

#topbar nav {
  padding-right: $sidebar-width;
}

#topbar nav .nav-wrapper {
  //padding-left: 25px;
}

.documents.pinned {
  margin-top: 58px;
  left: 66.7%!important;
  width: 31.7%!important;

}

.info.popout.collapsible {
  margin-right: -3.5%;
  margin-left: -3.5%;
  width: 107%;
  li {
    margin: 0 0;
  }
}

#order-fab {
  top: auto!important;
}
#order-fab.pin-bottom {
  position: relative!important;

}

footer.page-footer {
  margin-left: $sidebar-width;
}

span.insert {
  font-weight: bold;
}

.pagination a li.active {
  color: #fff;
  background-color: #455A64;
}

.pagination a li {
  color: #444;
  display: inline-block;
  font-size: 1.2rem;
  padding: 0 10px;
  line-height: 30px;
}

#toast-container {
  top: auto !important;
  left: auto !important;
  bottom: 10%;
  right:7%;

  .success {

  }

  .warn {

  }

}