%footer.page-footer.blue-grey.darken-2
  .container
    .row
      .col.l6.s12
        %h5.white-text Phoenix
        %p.grey-text.text-lighten-4
      .col.l4.offset-l2.s12
        %h5.white-text Links
        %ul
          %li
            %a.grey-text.text-lighten-3{:href => '#!'} Contact us
          %li
            %a.grey-text.text-lighten-3{:href => '#!'} About
  .footer-copyright
    .container
      All rights reserved. Powered by Samsonov Art. © 2016 Copyright Text
