#topbar.navbar-fixed
  %nav
    .nav-wrapper.blue-grey.darken-3
      %ul
        -if ['edit', 'new'].include?(request.original_url.split('/')[-1].split('?')[0])
          %li
            =link_to :back, class: 'tooltipped', data: { tooltip: 'Go back' } do
              %i.material-icons.teal-text.text-accent-1 chevron_left
        -if !['edit', 'new'].include?(request.original_url.split('/')[-1].split('?')[0])
          %li
            =link_to new_order_path, class: 'tooltipped', data: { tooltip: 'Create new order' } do
              %i.material-icons.teal-text.text-accent-2 add_circle
        - if @order.present? and !['edit', 'new'].include?(request.original_url.split('/')[-1].split('?')[0])
          %li
            = link_to edit_order_path(@order), class: 'tooltipped', data: { tooltip: 'Edit this order' } do
              %i.material-icons.teal-text.text-accent-2 mode_edit
          %li
            =link_to order_path(@order), method: :delete, class: 'tooltipped', data: { tooltip: 'Delete this order', confirm: 'Are you sure?' } do
              %i.material-icons.teal-text.text-accent-4 delete
      %ul.right.hide-on-med-and-down
        %li
          = link_to nil, class: 'tooltipped', data: { tooltip: 'Profile settings.' } do
            %i.material-icons account_circle
        %li
          = link_to nil, class: 'tooltipped', data: { tooltip: 'Log out from the app.' } do
            %i.material-icons power_settings_new
      -if !['edit', 'new'].include?(request.original_url.split('/')[-1].split('?')[0])
        %form.col.m4.right
          .input-field
            %input#search{:required => '', :type => 'search'}
            %label{:for => 'search'}
              %i.material-icons search
            %i.material-icons close
      = link_to 'Requiem', nil, class: 'brand-logo center'